<?xml version="1.0" encoding="utf-8"?>

<configuration>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <appSettings>
        <add key="SourceFolderName" value="Enhanced" />
        <add key="LogFolderPath" value="C:\Users\Bryan\Documents\AutoColoriserLogs" />
        <add key="DestinationFolderName" value="Colourised" />
        <add key="DownloadsFolderPath" value="C:\Users\Bryan\Downloads" />
        <add key="DPI" value="40" />
    </appSettings>
</configuration>